<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PageSimpleStatiqueVueJS</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div id="app">
      <header>
        <h1>Ajouter un pays</h1>
        <div>
          <input
            id="textInput"
            type="text"
            @keyup="recherchePays($event)"
            v-model="paysSelectionne"
          />
          <button id="btnPlus" v-if="affichageBoutonPlus" @click="ajouterPays">
            +
          </button>
        </div>
        <div id="relativeParent">
          <div id="absoluteChild">
            <p
              class="paysContext"
              v-for="pays in paysFiltreRecherche"
              @click="remplirPays($event)"
            >
              {{pays}}
            </p>
          </div>
        </div>
      </header>
      <div id="assemblageTuile">
        <div class="tuilePays" v-for="pays in paysAAffiches">
          <div class="titreEtCroix">
            <span class="titrePays">{{pays.nom}}</span>
            <button class="btnCroix" @click="supprimerPays(pays.nom)">x</button>
          </div>
          <hr />
          <div class="corpsPays">
            <div class="donnesPays">
              <div class="titrePopEtSup">Population : </div>
              <span class="contenuPopEtSup">{{pays.population}} hab.</span>
              <br />
              <div class="titrePopEtSup">Superficie : </div>
              <span class="contenuPopEtSup">{{pays.superficie}} km²</span>
              <br />
              <a :href="pays.lienMaps" target="_blank">Voir sur Google Maps</a>
            </div>
            <img class="imgDrapeau" :src="pays.lienDrapeau" alt="drapeau" />
          </div>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
